section(id="work")
  h3.section-header Work
  - var count = 0
  each item in work
    article(
      class=(count % 2 == 0 ? 'left' : 'right')
    )
      .article-body
        h5.article-title #{item.title}
        p.article-description !{item.description}
        if item.button
          a(href=item.button.url, target="_blank"): button #{item.button.title}
            .rippleJS
      .article-image-container
        img(
          data-src=item.image + "-large.jpg"
          data-srcset=item.image + "-small.jpg 480w, " + item.image + "-medium.jpg 768w, " + item.image + "-large.jpg 1280w, " + item.image + "-xlarge.jpg 1920w"
          data-sizes="(min-width: 600px) 50vw, 100vw"
          alt=item.alt
        )
    - count++